

<div class=" w3-row w3-container w3-white w3-padding w3-round-xlarge my-wrap-large" >
  <img class="w3-col l8 m7" src="/dog.jpg" style="max-width:600px;max-height:450px;"></img>

  <div class="w3-col l4 m5 w3-container my-beje w3-round" style="display:inline-block;margin-bottom:10px">
    <label>Nick</label>
    <p><%= @animal.nick %></p>
    <labelWeight</label>
    <p><%= @animal.weight %></p>
    <label>Kind</label>
    <p><%= @animal.kind %></p>
    <label>Color</label>
    <p><%= @animal.color %></p>
    <label>Description</label>
    <p><%= @animal.description %></p>
  </div>

  <div class="w3-col l4 w3-center w3-container ">
    <% if @adopt %>
      <button class="w3-button w3-xlarge w3-green">Adotar !</button>
    <% else %>
      <button class="w3-button w3-xlarge w3-green">Logar !</button>
    <% end %>
  </div>

  <div class="w3-container">
    <%= simple_form_for @comment do |c| %>
      <%= c.input :message %>
      <%= c.hidden_field :animal_id, :value => @animal.id %>
      <%= c.submit %>
    <% end %>
  </div>


</div>
